
.content {
    margin: 10px;
}
.gallery{ 
    &__image-container{
        height: 300px;
        width: 100%;
        background-image: url('/img/sprinkles-A.jpg');
        background-position-y: -35px;
        background-size: cover;
        
    }
    &__back{
        @include image-btn(170px, 15px, false);
    }
    &__next{
        @include image-btn(170px, 320px, false);
    }
    &__thumnails{

        display: none;
        @media (min-width: 1115px){
            display: flex;
            justify-content: space-between;
        }
    }
    &__thumnail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid $c-primario;
        }
    }
    @media(min-width: 1115px){
        width: 446px;
        cursor: pointer;
        &__image-container{
            background-position-y: 0;
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
        }
    }
}
.modal-gallery{
    
    width: 550px;
    &__background{
        @include modal-background;
        display: none;
        place-content: center;
    }
    &__close-container{
        
        text-align: right;
        height: 30px;
    }
    &__close{
        height: 16px;
        width: 16px;
        &:hover{
            cursor: pointer;
            content: url('/img/cerrarX.png');
        }
        
    }
    &__image-container{
        background-image: url('/img/sprinkles-A.jpg');
        height: 446px;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        position: relative;
    }

    &__thumnails{    
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: auto;
    }
    &__thumnail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid $c-primario;
        }
    }
    &__back{
        @include image-btn(190px, -15px, true)
    }
    &__next{
        @include image-btn(190px, 520px, true)
    }
}