.input {
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 229, 229);
    
    &__minus {
       @include cambiarNumero(24px, 5px);
    }
    &__number {
        width: 100%;
        border: none;        
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        outline: none;
        background-color: rgb(235, 229, 229); 
    }
    &__plus {
        @include cambiarNumero(19px, 3px);
    }



}